@charset "UTF-8";

#wrap {
	width: 500px;
	margin: 0 auto;
}
.hand {
	width: 100px;
	cursor: pointer;
}

input[type="submit"] {
	cursor: pointer;
}

input[type="radio"] {
	visibility: hidden;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.result-area {
	width: 300px;
	margin: 0 auto;
}

.result {
	font-size: 1.2em;
	font-weight: bold;
}